.container {
  padding: 0 2rem;
}

.welcome{
  text-align: center;
  margin-bottom:30px;
  font-family: 'Lobster', cursive;

}

.navigationbar h1{
  font-size: 20px;
  font-family: 'Lobster', cursive;
  margin-top:8px;
  margin-right:10px;
  vertical-align: center;

}

.navigationbar{
  display:flex;
  flex-direction: row;
}

.courselist{
  text-align: start;
  padding:10px;
  font-family: 'Bebas Neue', cursive;
  
}

.courselist h5{
  margin:0;
  font-size:25px;
}

.courselist p{
  margin:0;
  font-family: 'Fuzzy Bubbles', cursive;
}

.header{
  padding: 60px;
  text-align: center;
  background: #1abc9c;
  color: white;
  font-size: 30px;
  margin-bottom:30px;
}

.banner{
  width:100%;
  margin-bottom:30px;
}

.login h2{
  text-align: start;
  padding:10px;
  font-size:35px;
  font-family: 'Bebas Neue', cursive;
}

.login p{
  text-align: start;
  font-size:30px;
  font-family: 'Bebas Neue', cursive;
}

.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}


@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}




